body {
	font-family: "VL PGothic", "Meiryo", sans-serif;
	font-size: 24;
}
span.k1 {
	color: #3333ff;
}
span.k2 {
	color: #0099ff;
}
span.k3 {
	color: #00cc99;
}
span.k4 {
	color: #33cc33;
}
span.k5 {
	color: #99cc00;
}
span.k6 {
	color: #cc9900;
}
span.k7 {
	color: #ff9900;
}
span.k8 {
	color: #cc6600;
}
span.k9 {
	color: #ff3333;
}
span.k10 {
	color: #9933ff;
}